<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Alcheringa - {{ title}}</title>
    {%else%}
        <title>Alcheringa Connect</title>
    {% endif %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <nav>
        <img src=" {% static 'assets/favicon.ico' %} " alt="" class="ico">
        <h1>Alcheringa <span>Connect</span></h1>
    </nav>
    <main>
        <div class="posts">
            <div class="post">
                <div class="top">
                    <img src=" {% static 'assets/pic1.jpg' %}" alt="" class="profile">
                    <h4>Name</h4>
                </div>
                <img src="{% static 'assets/pic1.jpg' %}" alt="" class="pic">
                <div class="bottom">
                    <div class="like-box">
                        <img src="{% static 'assets/like.png' %}" alt="" class="like">
                        <h5> 167 likes</h5>
                    </div>
                    <img src="{% static 'assets/bookmark.png' %}" alt="" class="save">
                </div>
            </div>
            <div class="post">
                <div class="top">
                    <img src=" {% static 'assets/pic1.jpg' %}" alt="" class="profile">
                    <h4>Name</h4>
                </div>
                <img src="{% static 'assets/pic1.jpg' %}" alt="" class="pic">
                <div class="bottom">
                    <div class="like-box">
                        <img src="{% static 'assets/like.png' %}" alt="" class="like">
                        <h5> 167 likes</h5>
                    </div>
                    <img src="{% static 'assets/bookmark.png' %}" alt="" class="save">
                </div>
            </div>
        </div>
        <div class="side">
        <div class="my-profile">
            <div class="protop">
                <h3 class="user">My Profile</h3>
                <a href="{% url 'login' %}"><img src="{% static 'assets/exit.png' %}" alt="" class="back"></a>
            </div>
            <div class="mpmain">
                <div class="username">
                    <img src="{% static 'assets/pic1.jpg' %}" alt="" class="username-pic">
                    <h3>Name<br><span class="user_name">username</span></h3>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga omnis rem tempore libero quaerat nisi fugiat aut qui?</p>
                <a href=" {% url 'posts'%} "><div class="my-posts">
                    <img src="{% static 'assets/plus.svg' %}" alt="" class="plus">
                    <h3>My Posts</h3>
                </div></a>
                <div class="saved">
                    <img src="{% static 'assets/bookmark.png' %}" alt="" class="save">
                    <h3>Saved Posts</h3>
                </div>
            </div>
        </div>
        <a href="{% url 'create'%}"><div class="new">
            <img src="{% static 'assets/plus.svg' %}" alt="" class="plus">
            <h3>Create New Post</h3>
        </div> </a>
    </div>
    </main>
</body>
</html>